.p-animals {
  &__inner {
  }
}

div {
  margin-bottom: 10px;
}

.p-animal__entry {
  height: 150px;
}

.p-animal-img {
  height: 150px;
  width: 225px;
}

.big-margin {
  margin-top:20px;
  margin-bottom:20px;
}